body {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    box-sizing: border-box;
}

header {
    position: relative;
    font-family: "Mukta", sans-serif;
    height: 15vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 10em;
    color: white;
    background-color: #102F4B;
    overflow: hidden;
    gap: 2em;
}

header div {
    position: relative;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

header :first-child img {
    width: 100%;
    min-width: 200px;

}

header :nth-child(2) {
    width: 50vw;

}

header :nth-child(2) img {
    height: 13vh;
}

nav {
    box-sizing: border-box;
    display: flex;
    height: 4vh;
    /* border: 2px solid black; */
    /* flex-wrap: wrap; */
    background-color: #fbfbfb;
    box-shadow: 4px 4px 4px #b4b4b4;

}

.navButtons {
    text-overflow: ellipsis;
    box-sizing: border-box;
    /*     box-shadow: 5px 5px 5px #acacac; */
    width: 10vw;
    min-width: 150px;
    text-align: center;
    padding-top: 6px;
    font-size: 20px;
    color: grey;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: #c4c4c4;
    }
}

main {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*------Secciones----------------------------*/
.section-containers {
    width: 300vw;
    height: 75vh;
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(-100vw);
}

.section {

    width: 33vw;
    display: flex;
    flex: 1 0 100vw;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

/*Botones de sección de inicio---------------*/
#buttonSection {
    justify-content: space-evenly;
}

.centralButtons {
    width: 15vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    border-radius: 28px;
    font-size: 23px;
    user-select: none;
    border-radius: 25px;
    background: #fbfbfb;
    box-shadow: 5px 5px 10px #b4b4b4,
        -5px -5px 10px #ffffff;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05) translateY(3px);
        border-radius: 25px;
        background: #fbfbfb;
        box-shadow: 15px 15px 30px #b4b4b4,
            -15px -15px 30px #ffffff;
    }

    &:active {
        transform: scale(1.0) translateY(-3px);
        box-shadow: 5px 5px 10px #b4b4b4,
            -5px -5px 10px #ffffff;
    }

}

/*--------Sección del formulario----------*/

/*-----Formulario---------*/
label {
    margin: 3px;
}

textarea {
    height: 5em;
}

#formSection {
    align-items: baseline;
}

.formTitle {
    margin: 0;
    padding: 5px;
}

#formContainer {
    display: flex;
    flex-direction: column;
}

.formSections {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 5em;

}

/*-----Seccion de fecha de cita---*/
#appointmentForm {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30vw;
    min-width: 600px;
    min-height: 500px;
    height: 50vh;
    margin: 5em;
    padding: 2em;
    border-radius: 28px;
    box-shadow: 5px 5px 10px #b4b4b4,
        -5px -5px 10px #ffffff;
}

#dateSection {
    margin-bottom: 2em;
}

#appointmentDateInputGroup {
    width: 100%;
    display: flex;
}

.dateInput {
    box-sizing: border-box;
    width: 50%;
}

/*---Sección de datos del paciente--------*/

.dataInputs {
    position: relative;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.dataInputSection {
    display: flex;
    justify-content: start;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding-bottom: 5px;
    gap: 3px;
}

.dataInputSection label {
    width: 5em;
    text-align: left;
    margin-left: 0;
}

.dataInputSection input {
    margin-right: 5px;
}

textarea {
    width: 60%;
    margin-left: 10px;
}

.formButtonSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2em;

}


/*Mensaje de error*/

#errorLabel {
    display: none;
    color: red;
}

#errorLabel.error-visible {
    display: inline;
    color: red;

}

input.error {
    border-color: red;
}

select.error {
    border-color: red;
}

/*---------------Tabla de Datos de cita--------------*/

#tableData {
    overflow: auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 60vw;
    min-width: 500px;
    min-height: 500px;
    height: 50vh;
    padding: 2em;
    border-radius: 28px;
    box-shadow: 5px 5px 10px #b4b4b4,
        -5px -5px 10px #ffffff;
}

table {
    width: 100%;

}

#searchSection {
    width: 100%;

    margin-bottom: 1em;
}

ul {
    display: none;
}
.searching{
    display: inline;
    list-style: none;
    position: absolute;
    background-color: #fbfbfb;
/*     border: 1px solid gray; */
    width: 120px;
    justify-self: start;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b4b4b4,
       -2px 5px #ffffff;
}
li{
    margin: 2px;
    
}
li:hover{
    background-color: #b4b4b4;
    cursor: pointer;
}

.row-find {
    background-color: lightgreen;
}

th {
    color: #ffffff;
    background-color: #102F4B;
    border: 1px solid black;
}

td {
    box-sizing: border-box;
    justify-content: center;
}

.tableButtons {
    background-color: #ffffff;
    border: none;
    position: relative;
    width: 5em;
}

.tableButtons button {
    width: 100%;
}


/*Botones flotantes para volver a página anterior*/

.floating-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    background-color: #102F4B;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: #c4c4c4;
    }

}

#floatingButtonForm {
    right: 20px;
}

#floatingButtonTable {
    left: 1vw;
}

/*-------------Modal----------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de cerrar dentro de la modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/*---------Footer-------------------------------------*/

footer {
    box-sizing: border-box;
    display: flex;
    background-color: #102F4B;
    height: 6vh;
}